.App {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 6% 25% 45% auto;
  height: 100vh;
}

.item-a {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 10% 5% auto 10%;
}

.AddTodo {
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 5% 60% 30% 5%;
}

.AddTodo input {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 200%;
  font-weight: bold;
}

.AddTodo button {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: cadetblue;
  font-size: 200%;
  font-weight: bold;
}

.TodoList {
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 0;
  margin: 0;
  text-align: left;
  overflow: auto;
  display: grid;
  grid-template-columns: 5% auto 5%;
}

.TodoList-div {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  opacity: 1;
  box-sizing: border-box;
  transition: height 1000ms 0ms, opacity 1000ms 1000ms;
}

.TodoList-div.hide {
  transition: height 1000ms 1000ms, opacity 1000ms 0ms;
  opacity: 0;
  height: 0px;
}

.TodoList h1 {
  font-size: 100%;
}

.completed {
  text-decoration: line-through;
}

.Filter {
  width: 100%;
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  justify-content: space-evenly;
  margin: auto auto 10px auto;
  grid-template-columns: 5% auto 5%;
}

.btn {
  border-radius: 5px;
  background-color: white;
  justify-self: center;
  font-weight: bold;
}

.btn-large {
  height: 100%;
  font-size: 120%;
  border: 1px solid transparent;
}

.active {
  background-color: cadetblue;
  border: 1px solid black;
}
